.Resetpasswordmain {
  width: 100%;
  height: 100vh;
}
.ResetpasswordWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.Resetpasswordcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.1875rem 0.375rem hsla(0, 0%, 4%, 0.1);
  border-radius: 5px;
  gap: 10px;
  width: 35%;
  height: 60vh;
}
.ResetPasswordInputWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  height: 250px;
  justify-content: center;
}
.Resetpasswordcontainer p {
  display: flex;
  text-align: center;
}
.ResetpasswordDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  gap: 12px;
  width: 85%;
}
.ResetpasswordDiv label{
    width: 390px;
}
.ResetpasswordDivIn {
  display: flex;
  width: 90%;
  padding: 15px;
  outline: none;
  border: 1px solid lightgrey;
}
.ResetpasswordDiv p { 
  width: 390px; 
} 
.ResetpasswordBut {
  display: flex;
  width: 79%;
  padding: 15px;
  background-color: #2196f3;
  border: none;
  color: white;
  /* margin-top: 20px; */
  border-radius: 8px;
  justify-content: center;
}
.ResetpasswordReturnLogin {
  color: #0d47a1;
  margin-top: 10px;
  cursor: pointer;
}
.ResetPasswordError{
    font-size: 12px;
    color: red;
}
