.Forgotpasswordmain {
  width: 100%;
  height: 100vh;
}
.ForgotpasswordWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.Forgotpasswordcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.1875rem 0.375rem hsla(0, 0%, 4%, 0.1);
  border-radius: 5px;
  gap: 10px;
  width: 35%;
  height: 60vh;
}
.Forgotpasswordcontainer p {
  display: flex;
  text-align: center;
}
.ForgotpasswordDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 85%;
  height: 150px;
}
.ForgotpasswordDivIn {
  display: flex;
  width: 85%;
  padding: 15px;
  outline: none;
  border: 1px solid lightgrey;
}
.ForgotpasswordDiv label {
  width: 390px;
}
.ForgotpasswordBut {
  display: flex;
  width: 79%;
  padding: 15px;
  background-color: #2196f3;
  border: none;
  color: white;
  /* margin-top: 20px; */
  border-radius: 8px;
  justify-content: center;
}
.ForgotpasswordReturnLogin {
  color: #0d47a1;
  margin-top: 10px;
  cursor: pointer;
}
.ForgotpasswordError {
  font-size: 12px;
  width: 390px;
  color: red;
}
@media screen and (max-width:650px) {
  .Forgotpasswordmain{
    width: 100%;
    height: 100vh;
  }
  .ForgotpasswordWrap{
    width: 100%;
    height: 100vh;
  }
  .Forgotpasswordcontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .Forgotpasswordcontainer h2 {
    font-size: 20px;
  }
  .Forgotpasswordcontainer p {
    font-size: 14px;
    /* width: 90%; */
  }
  .ForgotpasswordDiv{
    width: 100%;
  }
  .ForgotpasswordDiv label {
    width: 85%;
  }
  .ForgotpasswordDivIn{
    width: 80%;
    padding: 10px;
  }
  .ForgotpasswordBut{
    width: 85%;
    padding: 10px;
  }
}
